/* Root Variables */
:root {
  --padding: 5px;
  --boxColor: #2F394D;
  --wordColor: #44AF69;
}

/* All */
body {
  background-color: #B6DCFE;
}

.header, .footer {
  background-color: var(--boxColor);
  padding: var(--padding); 
}

/* Header ==================================== */
.header, .footer {
  background-color: var(--boxColor);
  padding: var(--padding); 
}

.header h1, p {
  color: var(--wordColor);
  text-align: center;
}

/* Footer ====================================== */
.footer #github-icon, #linkedin-icon {
  color: var(--wordColor);
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-left: 50%;
}

.footer .footer-instructions {
  text-align: center;
}

.footer .footer-instructions a {
  color: var(--wordColor);
}

