/* Root Variables */
:root {
  --padding: 5px;
  --boxColor: #2F394D;
  --wordColor: #44AF69;
}

/* All */
body {
  background-color: #B6DCFE;
}

/* Header ==================================== */
.header {
  background-color: var(--boxColor);
  padding: var(--padding); 
}

.header h1, p {
  color: var(--wordColor);
  text-align: center;
}

/* */