/* Root Variables */
:root {
  --padding: 5px;
  --boxColor: #2F394D;
  --wordColor: #44AF69;
}

/* All */
body {
  background-color: #B6DCFE;
}

.header, .footer, .navbar {
  background-color: var(--boxColor);
  padding: var(--padding); 
}

/* Header ==================================== */
.header, .footer, .home, .redcap, .study, .questions {
  background-color: var(--boxColor);
  padding: var(--padding); 
}

.header h1, .header p {
  color: var(--wordColor);
  text-align: center;
}

/* Navbar ====================================== */
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar a {
  color: var(--wordColor);
  text-decoration: none;
}

.navbar a:hover {
  color: yellow;
}


/* Home ======================================== */
.home {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home h2 {
  text-align: center;
}

.home h2, h3, ul, li, p {
  color: var(--wordColor);
}

.home h3 {
  text-decoration: underline;
}

/* Redcap ====================================== */
.redcap h2 {
  text-align: center;
  color: var(--wordColor);
}

.redcap .redcap-faq .redcap-question h3 {
  text-decoration: underline;
}

/* Study ========================================== */
.study h2 {
  color: var(--wordColor);
  text-align: center;
}

.study h3 {
  text-decoration: underline;
}

.study li {
  list-style-type: none;
}

/* Questions ========================================== */
.questions h2 {
  text-align: center;
  color: var(--wordColor);
}

.questions form label {
  color: var(--wordColor);
}

.questions form div {
  display: block;
  margin: 10px;
}

/* Footer ====================================== */
.footer #github-icon, #linkedin-icon {
  color: var(--wordColor);
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-left: 50%;
}

.footer #github-icon:hover {
  color: yellow;
}

.footer #linkedin-icon:hover {
  color: yellow;
}

.footer .footer-instructions {
  text-align: center;
}

.footer .footer-instructions a {
  color: var(--wordColor);
}

